@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'components/avatar.css';
@import 'components/btn.css';
@import 'components/container.css';
@import 'components/banner.css';
@import 'components/card.css';
@import 'components/navbar.css';

a {
  text-decoration: none;
}

body {
  margin: 0;
}


h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

.blue {
  background-color: blue !important;
}

.hidden {
  display: none;
}

/*.rectangle {
  width: 200px;
  height:  100px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}


.container {
  display:  flex;
  height: 200px;
  background-color: yellow;
  align-items: center;
  justify-content: space-evenly;
}
*/
